# C++ Ignores

*.o

# Eclipse ignores

.autotools
.cproject
.project
.settings

# http://www.gnu.org/software/automake

Makefile.in
Makefile
config.*
.deps/*

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.h.in
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
